<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="page-container">
    <header th:replace="fragments/commons::navigation"></header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form class="mx-auto w-75 " method="POST" th:action="@{/}" th:object="${tasks}">

            <div th:each="t : ${tasks}" th:object="${t}" class="card-group task-card">
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{name}">Repair Laptop</small>

                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{user.username}">George</small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div class="card-footer">
                        <small th:class="|classifications *{classification.name.name()}|"
                               th:text="*{classification.name.name()}">SUPPORT</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{dueDate}">2020-08-30</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{progress.name()}">OPEN</small>
                    </div>
                </div>

                <a class="button prBtn"th:href="@{/progress/{id}(id=*{id})} ">Progress</a>
            </div>

        </form>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>
