<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonds::head">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form th:object="${userLoginBindingModel}"
                  th:action="@{/users/login}"
                  th:method="post">
                <div>
                    <h5 th:if="${isExists}" class="bg-danger">Incorrect username or password</h5>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               th:field="*{username}"
                               th:errorclass="'is-invalid bg-danger'"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                        <small class="invalid-feedback">
                            <span class="bg-danger">Invalid Username</span>
                        </small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               th:field="*{password}"
                               th:errorclass="'is-invalid bg-danger'"
                               id="inputPassword" class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small class="invalid-feedback">
                            <span>Invalid password</span>
                        </small>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/commonds::footer"></footer>
</body>
</html>
