<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
    <hr class="my-3"/>
    <div class="container-fluid bg-dark w-25 m-auto ">
        <div class="row justify-content-center ">
            <div th:object="${item}" class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="*{imgUrl}" alt="Card image cap">
                <div class="card-body bg-gray align-content-center text-center">
                    <h6 th:text="*{name}"></h6>
                    <p class="card-text" th:text="*{description}"></p>
                    <h6 th:text="*{price}"></h6>
                    <a th:href="@{/item/delete/{id}(id=*{id})}" class="btn btn-danger" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
