<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Andrey's</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header th:fragment="navigation">
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-white active h5" th:href="@{/}">Andrey's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">

                <th:block th:if="${session.user == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h6" th:href="@{/user/login}">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h6" th:href="@{/user/register}">Register</a>
                    </li>
                </th:block>
                <th:block th:unless="${session.user == null}">
                    <li class="col-md-4">
                        <a class="nav-link text-white active h6" th:href="@{/item/add}">Add Item</a>
                    </li>
                    <li class="col-md-4">
                        <a class="nav-link text-white active h6" th:href="@{/user/logout}">Logout</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="footer bg-dark  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            Andrey's & Spring Team 2022.
        </div>
    </div>
</footer>
</body>
</html>